@use "../../../sass/color/variables" as colors;

input {
  display: block;
  width: 100%;
  margin: 16px 0;
  padding: 8px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid colors.$textColor;
  outline: none;
  color: #fff;

  &:focus {
    border: 1px solid #fff;
  }
}
