@use "../../../sass/color/functions" as functions;
@use "../../../sass/color/variables" as colors;

.button {
  background-color: colors.$primaryColor;
  color: #fff;
  padding: 8px 16px;
  border: 0;
  border-radius: 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    background-color: functions.get-primary-color("dark",10%);
  }

  &--active {
    background-color: functions.get-primary-color("light",20%);
  }
}
