$color-level-1: #111111;
$color-level-2: #256D85;
$color-level-3: #47B5FF;
$color-level-4: #DFF6FF;

$bgColor: $color-level-1;
$primaryColor: $color-level-2;
$secondaryColor: $color-level-3;
$textColor: $color-level-4;
