@use "../../../sass/color/variables" as colors;
@use "../../../sass/color/functions" as functions;

.dropdown {
  position: relative;
  display: inline-block;

  &:hover &__content {
    display: block;
  }

  &__content {
    display: none;
    position: absolute;
    background-color: colors.$primaryColor;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    cursor: pointer;

    p {
      color: colors.$textColor;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      
    }

    p:hover {
      background-color: functions.get-primary-color("light",20%);
    }
  }
}
