@use "../../../sass/color/variables" as colors;
@use "../../../sass/color/functions" as functions;


.footer {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: functions.get-bg-color("light", 8% );

  &__author {
    font-size: 14px;
  }

  &__copyright {
    font-size: 10px;
    margin-top: 8px;
  }
}
